/*Koko sivuston kattava tyyli */

body {
    background-color: rgba(253, 182, 240, 0.237);
}
.topnav {
    text-align: center;
    background-color: rgb(223, 202, 243);
    overflow: hidden;
}
.topnav a {
    float: none;
    color: rgba(126, 131, 143, 0.937);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
}

.topnav a:hover {
    background-color: none;
    color: white;
}

h1 {
    color: rgba(215, 108, 215, 0.817);
    font-family:'Courier New';
    font-size: 300%;
    text-align: center;
}

h2 {
    color: rgb(187, 113, 240);
    text-align: center;
}

h3 {
    color:rgba(203, 154, 200, 0.932);
    font-size: 130%;
    text-align: center;
}

p {
    text-align: center;
}


/*Yleistä*/

 
table, th, td {
    border: 1px solid black;
      text-align: center;
    }



/* Harrastukset /*